config/.config/nvim/.netrwhist
config/.config/karabiner/automatic_backups/
__pycache__
config/.config/coc/
**/secrets.txt
config/.config/configstore/
config/.config/zsh/.zsh_sessions/**
config/.config/zsh/.zsh_history
config/.config/zsh/.zcompdump
config/.config/zsh/.zshrc.backup
util/cpu_usage/target/
util/openweather/bin/
util/openweather/*.log
util/openweather/include
util/openweather/lib
util/zipcli/build
util/zipcli/dist
local/**
**/**/venv
**/**/build
**/**/dist
**/**/*.egg-info
config/.config/emacs/*
!config/.config/emacs/etc
!config/.config/emacs/init.el
!config/.config/emacs/init.org
