/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
	kb-row-down:        "Control+j";
  kb-row-up:          "Control+k";
  kb-remove-to-eol:   "";
  kb-accept-entry:    "Control+m,Return,KP_Enter";
	terminal:           "alacritty";
}
